<form [formGroup]="studentregistrationform" style="border:1px solid #ccc">
   <div class="container">
      <h1 style="text-align: center;">Student Registration form</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <h5>
      <label><b>Firstname</b></label>
      <input [class.is-invalid] = "studentregistrationform.get('firstname').invalid && studentregistrationform.get('firstname').touched"
        type="text" class="form-control" formControlName="firstname" placeholder="Enter Firstname"/>
      <div *ngIf="(firstnamevalidate.invalid && firstnamevalidate.touched) || firstnamevalidate.dirty">
        <h6 style="text-align: left;" *ngIf="firstnamevalidate.errors?.required" class="text-danger">*Firstname is required</h6>
        <h6 style="text-align: left;" *ngIf="firstnamevalidate.errors?.pattern" class="text-danger">*Please provide a valid Firstname</h6>
      </div>

      <label><b>Lastname</b></label>
      <input [class.is-invalid] = "studentregistrationform.get('lastname').invalid && studentregistrationform.get('lastname').touched"
        type="text" class="form-control" formControlName="lastname" placeholder="Enter Lastname"/>
      <div *ngIf="(lastnamevalidate.invalid && lastnamevalidate.touched) || lastnamevalidate.dirty">
    	  <h6 style="text-align: left;" *ngIf="lastnamevalidate.errors?.required" class="text-danger">*Lastname is required</h6>
    	  <h6 style="text-align: left;" *ngIf="lastnamevalidate.errors?.pattern" class="text-danger">*Please provide a valid Lastname</h6>
      </div>

      <label><b>Mobile No.</b></label>
      <input [class.is-invalid] = "studentregistrationform.get('mobileno').invalid && studentregistrationform.get('mobileno').touched"
        type="text" class="form-control" formControlName="mobileno" placeholder="Enter Mobileno"/>
      <div *ngIf="(mobilenovalidate.invalid && mobilenovalidate.touched) || mobilenovalidate.dirty">
    	  <h6 style="text-align: left;" *ngIf="mobilenovalidate.errors?.required" class="text-danger">*Mobileno is required</h6>
    	  <h6 style="text-align: left;" *ngIf="mobilenovalidate.errors?.pattern" class="text-danger">*Please provide a valid Mobileno</h6>
      </div>

      <label><b>Email</b></label>
      <input [class.is-invalid] = "studentregistrationform.get('email').invalid && studentregistrationform.get('email').touched"
      type="text" class="form-control" formControlName="email" placeholder="Enter Email"/>
      <div *ngIf="(emailvalidate.invalid && emailvalidate.touched) || emailvalidate.dirty">
        <h6 style="text-align: left;" *ngIf="emailvalidate.errors?.required" class="text-danger">*Email is required</h6>
        <h6 style="text-align: left;" *ngIf="emailvalidate.errors?.pattern" class="text-danger">*Please provide a valid email address</h6>
      </div>

      <label><b>Username</b></label>
      <input [class.is-invalid] = "studentregistrationform.get('username').invalid && studentregistrationform.get('username').touched"
      type="text" class="form-control" formControlName="username" placeholder="Enter Username"/>
      <div *ngIf="(usernamevalidate.invalid && usernamevalidate.touched) || usernamevalidate.dirty">
        <h6 style="text-align: left;" *ngIf="usernamevalidate.errors?.required" class="text-danger">*Username is required</h6>
        <h6 style="text-align: left;" *ngIf="usernamevalidate.errors?.pattern" class="text-danger">*Please provide Username having at least a number</h6>
      </div>

      <label><b>Password</b></label>
      <input [class.is-invalid] = "studentregistrationform.get('password').invalid && studentregistrationform.get('password').touched"
      type="password" class="form-control" formControlName="password" placeholder="Enter Password"/>
      <div *ngIf="(passwordvalidate.invalid && passwordvalidate.touched) || passwordvalidate.dirty">
        <h6 style="text-align: left;" *ngIf="passwordvalidate.errors?.required" class="text-danger">*Password is required</h6>
        <h6 style="text-align: left;" *ngIf="passwordvalidate.errors?.pattern" class="text-danger">*Please provide minimum 6 character length</h6>
      </div>

      <label><b>Confirm Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName= "confirmpassword" (keyup)="clearError()"/>
      <h6 style="text-align: left;" *ngIf="passcheck" class="text-danger">*Password and Confirm Password MisMatch</h6>
      </h5>

      <div class="clearfix">
        <a href="#" [routerLink]="['/homepage']"><button type="button" class="cancelbtn">Back</button></a>
        <button type="submit" class="signupbtn" (click)="register()" [disabled]="studentregistrationform.invalid">Register</button>
      </div>
    </div>
  </form>
