<form [formGroup]="forgetpasswordform" style="border:1px solid #ccc">
  <div class="container">
    <h1 style="text-align: center;">Reset Your Password</h1>
    <hr>
    <h5>
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" formControlName="email" required>

    <label><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" formControlName="password" required>

    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Confirm Password" formControlName="confirmpassword" required>
    </h5>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" (click)="forgetpassword()">SUbmit</button>
    </div>
    <h5 style="text-align: center;">Don't have an account? <a href="#" [routerLink]="['/login']">Login here..</a><br></h5>

  </div>
</form>
