<form [formGroup]="forgetpasswordform" style="border:1px solid #ccc">
  <div class="container">
    <h1 style="text-align: center;">Reset Your Password</h1>
    <hr>
    <h5>
    <label><b>Email</b></label>
    <input [class.is-invalid] = "forgetpasswordform.get('email').invalid && forgetpasswordform.get('email').touched"
    type="text" class="form-control" formControlName="email" placeholder="Enter Email"/>
    <div *ngIf="(emailvalidate.invalid && emailvalidate.touched) || emailvalidate.dirty">
    	<h6 style="text-align: left;" *ngIf="emailvalidate.errors?.required" class="text-danger">*Email is required</h6>
    	<h6 style="text-align: left;" *ngIf="emailvalidate.errors?.pattern" class="text-danger">Please provide a valid email address</h6>
    </div>

    <label><b>New Password</b></label>
    <input [class.is-invalid] = "forgetpasswordform.get('password').invalid && forgetpasswordform.get('password').touched"
    type="password" class="form-control" formControlName="password" placeholder="Enter Password"/>
    <div *ngIf="(passwordvalidate.invalid && passwordvalidate.touched) || passwordvalidate.dirty">
    	<h6 style="text-align: left;" *ngIf="passwordvalidate.errors?.required" class="text-danger">*Password is required</h6>
    	<h6 style="text-align: left;" *ngIf="passwordvalidate.errors?.pattern" class="text-danger">*Please provide minimum 6 character length</h6>
    </div>

    <label><b>Confirm Password</b></label>
    <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName= "confirmpassword" (keyup)="clearError()"/>
    <h6 style="text-align: left;" *ngIf="passcheck" class="text-danger">*Password and Confirm Password MisMatch</h6>


    </h5>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" (click)="forgetpassword()">Submit</button>
    </div>
    <h5 style="text-align: center;">Don't have an account? <a href="#" [routerLink]="['/login']">Login here..</a><br></h5>

  </div>
</form>
