<h1 style="text-align: center;">Modern Education Society's College Of Engineering , Pune</h1>
<a href="#" [routerLink]="['/studentRegistration']"><button style="background: orange; width: 200px; height: 80px; ">Add Student</button></a>
<br>
<br>
<h3 style="text-align: center;">Student List</h3><br>
<div id="heading">
<table border="2">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Mobile no</th>
    <th>Email</th>
    <th>Username</th>
    <th>Update Info</th>
    <th>Delete Info</th>
  </tr>
</table>
</div>
<div *ngFor="let item of studentlist">
  <table border="2">
  <tr>
    <td>{{item.firstname}}</td>
    <td>{{item.lastname}}</td>
    <td>{{item.mobileno}}</td>
    <td>{{item.email}}</td>
    <td>{{item.username}}</td>
    <td><button (click)="update(item._id)" style="background: orange; width: 200px;" >Update</button></td>
    <td><button (click)="delete(item._id)" style="background: red; width: 200px;" >Delete</button></td>
  </tr>
</table>
</div>
